<!DOCTYPE HTML>

<html>
	<head>
		<title>Bajan Andrei</title>
		<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon.png" alt="icon">
		<meta charset="utf-8" name="description" content="A place to display my projects, skills, and passions."/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>Welcome to my personal webpage!</h1>
						<p>This portfolio is to showcase my projects and skills in programming.</p>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">Bajan Andrei</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="index.html">Project Portfolio</a></li>
							<li class="active"><a href="submit_form.html">Contact me</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://www.linkedin.com/in/andrei-bajan-432274213/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://github.com/Baje99" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2><a href="https://github.com/Baje99/LoginScreen">Login Interface<br /></a></h2>
									<p>This project was created using the tkinter library and will save all the data entered in txt files. I am proud of this project it was fun to build and helped me to begin designing major projects. Also the login screen contains a gif animation based on frame division. </p>
								</header>
								<a href="https://github.com/Baje99/LoginScreen" class="image main"><img src="./static/images/pic01.png" alt="LoginScreen Project" width = "50" height = "1000" /></a>
								<ul class="actions special">
									<li><a href="https://github.com/Baje99/LoginScreen" class="button large">check it out<output></output></a></li>
								</ul>
							</article>

						<!-- Posts -->
							<section class="posts">
								<article>
									<header>
										<h2><a href="https://github.com/Baje99/DesktopNotification">Desktop Notification<br />
										Github site</a></h2>
									</header>
									<a href="https://github.com/Baje99/DesktopNotification" class="image fit"><img src="./static/images/pic02.png" alt="crowd-fund-project" /></a>
									<p>Has it ever happened to you to sit at the computer or laptop and forget that you have something to do. With this application made with python, requests and plyer you can receive at certain intervals data about the COVID situation in your country.</p>
									<ul class="actions special">
										<li><a href="https://github.com/Baje99/DesktopNotification" class="button">Check it out</a></li>
									</ul>
								</article>
								<article>
									<header>
										<h2><a href="">Project 2<br />
											To be continued</a></h2>
									</header>
									<a href="" class="image fit"><img src="" alt="" /></a>
									<p>.</p>
									<ul class="actions special">
										<li><a href="" class="button">Check it out</a></li>
									</ul>
								</article>
							</section>
					</div>

					<footer id="footer">
						<section class="split contact">
							<section class="alt">
								<h3>Address</h3>
								<p>Bucharest, Romania<br /></p>
							</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<li><a href="https://www.linkedin.com/in/iree-hale-35534a1b7/" class="icon brands alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
									<li><a href="https://github.com/IreeHale" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer>

					<div id="copyright">
						<ul><li>&copy; Baje99</li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.scrollex.min.js"></script>
			<script src="./static/assets/js/jquery.scrolly.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>