<!DOCTYPE HTML>

<html>
	<head>
		<title>Bajan Andrei</title>
		<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon.png" alt="icon">
		<meta charset="utf-8" name="description" content="A place to display my projects, skills, and passions."/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>Welcome to my personal webpage!</h1>
						<p>This portfolio is to showcase my projects and skills in programming.</p>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">Bajan Andrei</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="index.html">Project Portfolio</a></li>
							<li class="active"><a href="submit_form.html">Contact me</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://www.linkedin.com/in/andrei-bajan-432274213/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://github.com/Baje99" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
							<div class="section-container contact-container">
								<div class="container">
								<div class="row">
									<div class="col-xs-12 col-md-12">
									<div class="section-container-spacer">
										<h2 class="text-center">Get in touch</h2>
									</div>
									<div class="card-container">
										<div class="card card-shadow col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 reveal">
										<form action="submit_form" method="post" class="reveal-content">
											<div class="row">
											<div class="col-md-7">
												<div class="form-group">
												<input name = 'email' type="email" class="form-control" id="email" placeholder="Email">
												</div>
												<div class="form-group">
												<input name = 'subject' type="text" class="form-control" id="subject" placeholder="Subject">
												</div>
												<div class="form-group">
												<textarea name = 'message' class="form-control" rows="3" placeholder="Enter your message"></textarea>
												</div>
												<button type="submit" class="btn btn-primary">Send message</button>
											</div>
											<div class="col-md-5">
												<ul class="list-unstyled address-container">
												<li>
													<span class="fa-icon">
													<i class="fa fa-phone" aria-hidden="true"></i>
													</span>
													+ 40745767980
												</li>
												<li>
													<span class="fa-icon">
													<i class="fa fa fa-map-o" aria-hidden="true"></i>
													</span>
													Ploiești - Bucharest
												</li>
												</ul>
											</div>
											</div>
										</form>
										</div>
										<div class="card-image col-xs-12" style="background-image: url('/assets/images/img-01.jpg')">
										</div>
									</div>
									</div>  
								</div>
								</div>
							</div>
					</div>

					<footer id="footer">
						<section class="split contact">
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<li><a href="https://www.linkedin.com/in/iree-hale-35534a1b7/" class="icon brands alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
									<li><a href="https://github.com/IreeHale" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer>

					<div id="copyright">
						<ul><li>&copy; Baje99</li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.scrollex.min.js"></script>
			<script src="./static/assets/js/jquery.scrolly.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>